body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#ui,
#startScreen,
#endScreen {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

#startScreen,
#endScreen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#scoreboard {
    margin-top: 20px;
    text-align: left;
}
#startLogo, #endLogo {
    width: 500px; /* Adjust the size as needed */
    margin-bottom: 20px; /* Adds space between the logo and the text below */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#startScreen, #endScreen {
    text-align: center; /* Centers the content horizontally */
}

#startScreen h1, #endScreen h1 {
    margin-top: 10px; /* Adds space between the logo and the title */
}

#startScreen p, #endScreen p {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    #startScreen, #endScreen {
        width: 90%;
        padding: 10px;
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    #ui {
        top: 5px;
        left: 5px;
        font-size: 16px;
    }

    #startLogo, #endLogo {
        width: 100%; /* Adjust for smaller screens */
    }
}

#mobileControls {
    display: none;
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 10;
    pointer-events: none; /* To ensure they are not blocking any other interactions */
}

#mobileControls button {
    pointer-events: all; /* Re-enable pointer events on buttons */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#leftControls {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

#rightControls {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: flex;
    flex-direction: row; /* Place buttons side by side */
}

@media only screen and (max-width: 600px) {
    #mobileControls {
        display: block;
    }

    #ui {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

